<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coursework"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EmergencyContact" />
        <activity android:name=".AdminList" />
        <activity android:name=".AdminHomePage" />
<!--        <activity-->
<!--            android:name="com.teamDroiders.ladybuddy.AboutUs"-->
<!--            android:exported="true"-->
<!--            android:label="AboutUs"-->
<!--            android:parentActivityName="com.teamDroiders.ladybuddy.MainActivity"-->
<!--            android:theme="@style/Theme.New" />-->
<!--        <activity-->

        <activity
            android:name="com.example.coursework.SosInsructionsActivity"
            android:exported="true"
            android:label="SOS Instructions"
            android:parentActivityName="com.example.coursework.SmsActivity"
            />

        <activity
            android:name="com.example.coursework.NewsActivity"
            android:exported="true"
            android:label="Women's News"
            android:parentActivityName="com.example.coursework.MainActivity"
            />
        <activity
            android:name="com.example.coursework.SmsActivity"
            android:label="Emergency Service"
            android:parentActivityName="com.example.coursework.MainActivity"
             />
        <activity android:name="com.example.coursework.Flashing" />

        <activity android:name="com.example.coursework.MainActivity" />

        <receiver android:name="com.example.coursework.ScreenOnOffReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="number.action.string" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.coursework.ScreenOnOffBackgroundService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>